.navbar {
    width: 200px;
    background-color: #96D4D4;
    padding: 20px;
    margin: 20px auto;
    text-align: left;
    border: 2px solid black;
  }
  
  .navbar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: darkblue;
    font-size: 18px;
    text-align: left;
  }
  
  .navbar a:hover {
    color: #fff;
    background-color: #333;
  }
  
  .navbar a:first-child {
    background-color: yellow;
  }
  
  h1 {
    text-align: center; /* Align the heading to the center */
    color: darkblue;
    font-size: 20px; /* Reduce the font size of the heading */
    margin-top: 0; /* Remove the default margin on the top of the heading */
  }
  